export("colclasses<-")
export(cbind.smart)
export(colclasses)
export(colnameclasses)
export(combine.relex.experiments)
export(export.relex.experiment)
export(import.relex.experiment)
export(intersectN)
export(is.matrix.like)
export(MAplot.relex.3way)
export(MAplot.relex)
export(normalizeBetween.relex.experiment)
export(rbind.smart)
export(recycle)
export(relex.merge)
export(relex.subset)
export(rmNArows.relex)
export(strip.fileextension)
export(symmetricise)
export(ucounts)
export(unionN)
export(write.delim)
